@{
    ViewData["Title"] = "Adquisición de equipos";
}

<h1>@ViewData["Title"]</h1>

<p>Hola Mundo</p>
<a class="nav-link" asp-controller="Compra" asp-action="SeleccionEquipo">
    <button class="btn btn-primary">Nueva compra</button>
</a>