@model Proyecto02.Models.Equipo
@{
    ViewData["Title"] = "Adquisición de equipos";
    var tipos = ViewData["Tipos"] as Array;
}

<h1>@ViewData["Paso"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="WorkflowCompra" method="post">
            <input type="hidden" name="paso" value="1" />
            <input type="hidden" asp-for="Modelo.Nombre" />
            <input type="hidden" asp-for="Precio" />
            <div class="form-group">
                <label class="control-label">Seleccionar tipo de equipo:</label>
                <select asp-for="Modelo.Tipo" class="form-control">
                    @foreach (var tipo in tipos)
                    {
                        <option default value="@((int)tipo)">@(((TipoEquipo)tipo).Nombre())</option>
                    }                    
                </select>
            </div>
            <div class="col-lg-1 btn-group p-2">
                <button class="btn btn-primary">Siguiente</button> &nbsp;
                <a asp-controller="Compra" asp-action="Index">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </a>
            </div>            
        </form>
    </div>
</div>

